<!DOCTYPE html>
<html>
<head>
  <title>Living.DIY</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Tailwind CSSのスタイルシート -->
  <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload', media: 'all' %>
  <%= stylesheet_link_tag 'application.tailwind', 'data-turbo-track': 'reload', media: 'all' %>
  <%= javascript_importmap_tags %>
</head>

<body class="flex flex-col h-screen bg-gray-100">
  <!-- ヘッダー -->
  <header class="bg-gray-900 py-4 mb-8 z-10">
    <div class="container mx-auto flex max-w-4xl items-center px-4">
      <div class="flex w-full justify-between items-center">
        <div class="flex items-center text-white font-extrabold text-2xl">
          <%= link_to root_path, class: "text-gray-200 no-underline hover:text-gray-100" do %>
            🛍️ &nbsp; <span>Living.DIY</span>
          <% end %>
        </div>
        <nav class="flex items-center space-x-4">
          <ul class="list-reset flex items-center space-x-4">
            <% if admin_signed_in? %>
              <li>
                <div class="relative" data-controller="dropdown">
                  <button data-action="click->dropdown#toggle" class="flex items-center px-4 py-2 text-sm font-medium text-gray-200 bg-gray-700 rounded-md hover:bg-gray-600">
                    <svg class="h-6 w-6" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                      <path fill="currentColor" d="M288 320a224 224 0 1 0 448 0 224 224 0 1 0-448 0zm544 608H160a32 32 0 0 1-32-32v-96a160 160 0 0 1 160-160h448a160 160 0 0 1 160 160v96a32 32 0 0 1-32 32z"></path>
                    </svg>
                  </button>
                  <div data-dropdown-target="menu" class="hidden absolute right-0 mt-2 w-56 bg-white border border-gray-200 rounded-md shadow-lg transition-opacity duration-300">
                    <div class="px-4 py-3">
                      <p class="text-sm leading-5">Signed in as</p>
                      <p class="text-sm font-medium text-gray-900 truncate"><%= current_admin.email %></p>
                    </div>
                    <div class="py-1">
                      <%= link_to destroy_admin_session_path, data: { turbo_method: :delete }, class: "text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100" do %>
                        Sign out
                      <% end %>
                    </div>
                  </div>
                </div>
              </li>
            <% elsif user_signed_in? %>
              <li>
                <div class="relative" data-controller="dropdown">
                  <button data-action="click->dropdown#toggle" class="flex items-center px-4 py-2 text-sm font-medium text-gray-200 bg-gray-700 rounded-md hover:bg-gray-600">
                    <svg class="h-6 w-6" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                      <path fill="currentColor" d="M288 320a224 224 0 1 0 448 0 224 224 0 1 0-448 0zm544 608H160a32 32 0 0 1-32-32v-96a160 160 0 0 1 160-160h448a160 160 0 0 1 160 160v96a32 32 0 0 1-32 32z"></path>
                    </svg>
                  </button>
                  <div data-dropdown-target="menu" class="hidden absolute right-0 mt-2 w-56 bg-white border border-gray-200 rounded-md shadow-lg transition-opacity duration-300">
                    <div class="px-4 py-3">
                      <p class="text-sm leading-5">Signed in as</p>
                      <p class="text-sm font-medium text-gray-900 truncate"><%= current_user.email %></p>
                    </div>
                    <div class="py-1">
                      <%= link_to edit_user_registration_path, class: "text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100" do %>
                        Account settings
                      <% end %>
                    </div>
                    <div class="py-1">
                      <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100" do %>
                        Sign out
                      <% end %>
                    </div>
                  </div>
                </div>
              </li>
            <% else %>
              <li>
                <%= link_to "Sign Up", new_user_registration_path, class: "text-white px-4 py-2 rounded-md bg-blue-500 hover:bg-blue-400" %>
              </li>
              <li>
                <%= link_to "Sign In", new_user_session_path, class: "text-white px-4 py-2 rounded-md bg-blue-500 hover:bg-blue-400" %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <!-- フラッシュメッセージ -->
  <% if flash[:notice] %>
    <div class="p-4 mb-4 text-md text-blue-700 text-center font-bold">
      <%= notice %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="p-4 mb-4 text-md text-red-700 text-center font-bold">
      <%= alert %>
    </div>
  <% end %>

  <!-- メインコンテンツ -->
  <main class="container mx-auto sm:w-10/12 lg:w-9/12 mb-8">
    <%= yield %>
  </main>

  <!-- フッター -->
  <footer class="text-center mt-6 pb-6">
    <p class="text-gray-500">
      Copyright © FarStep All Rights Reserved.
    </p>
  </footer>
</body>
</html>
